/* screen - servicepluginliveviewfeature */

.servicepluginliveviewfeature {
  background-color: var(--white);
  height: 4001px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginliveviewfeature .group-22-gvUbJj {
  background-color: transparent;
  height: 552px;
  left: 380px;
  position: absolute;
  top: 3249px;
  width: 710px;
}

.servicepluginliveviewfeature .group-16-gvUbJj {
  background-color: transparent;
  height: 439px;
  left: 400px;
  position: absolute;
  top: 2502px;
  width: 690px;
}

.servicepluginliveviewfeature .group-11-gvUbJj {
  background-color: transparent;
  height: 856px;
  left: 400px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.servicepluginliveviewfeature .group-13-gvUbJj {
  background-color: transparent;
  height: 906px;
  left: 400px;
  position: absolute;
  top: 1402px;
  width: 690px;
}

.servicepluginliveviewfeature .group-14-gvUbJj {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginliveviewfeature .group-20-AqKL4c {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-copy-xW4Aqa {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeature .table-guide-text1line-xW4Aqa {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-xW4Aqa {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeature .descriptiontabletop-AqKL4c {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewfeature .group-8-gvUbJj {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 1402px;
  width: 680px;
}

.servicepluginliveviewfeature .group-16-copy-Vxz9Qu {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-copy-15-UYVojV {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeature .table-guide-text1line-copy-5-UYVojV {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-copy-16-UYVojV {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeature .descriptiontabletop-copy-Vxz9Qu {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewfeature .group-24-gvUbJj {
  background-color: transparent;
  height: 405px;
  left: 1140px;
  position: absolute;
  top: 2502px;
  width: 680px;
}

.servicepluginliveviewfeature .group-21-T0oNsh {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewfeature .table-guide-text1line-L6gmlN {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-L6gmlN {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-2mfhGz {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeature .group-20-T0oNsh {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-copy-TMxyfS {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeature .table-guide-text1line-TMxyfS {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-TMxyfS {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeature .group-18-T0oNsh {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 239px;
  width: 680px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-copy-3-b8v4Ix {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeature .table-guide-text1line-copy-b8v4Ix {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-copy-2-b8v4Ix {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeature .group-19-T0oNsh {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.servicepluginliveviewfeature .table-guide-text1line-2Y9oz1 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-2Y9oz1 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-copy-11-2Y9oz1 {
  background-color: transparent;
  height: 79px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeature .group-17-T0oNsh {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 680px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-copy-5-5rf6Cy {
  background-color: transparent;
  height: 99px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeature .table-guide-text1line-copy-4-5rf6Cy {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeature .table-guide-text2line_m-copy-4-5rf6Cy {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeature .descriptiontabletop-T0oNsh {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewfeature .group-23-gvUbJj {
  background-color: transparent;
  height: 448px;
  left: 1140px;
  position: absolute;
  top: 3249px;
  width: 680px;
}

.servicepluginliveviewfeature .group-3-gvUbJj {
  background-color: transparent;
  height: 142px;
  left: 1140px;
  position: absolute;
  top: 3007px;
  width: 680px;
}

.servicepluginliveviewfeature .web-sub_-title-gvUbJj {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginliveviewfeature .web-title-area-gvUbJj {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginliveviewfeature .web-tab-service-plug-in_cctv-gvUbJj {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 194px;
  width: 1600px;
}

.servicepluginliveviewfeature .x3rd-depth-vFIKdD {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewfeature .tab-XNHEsr {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewfeature .card-copy-1DRBVD {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginliveviewfeature .feature-copy-1DRBVD {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginliveviewfeature .incoming-call_-push-n-copy-1DRBVD {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 199px;
}

.servicepluginliveviewfeature .incoming-call_-flow_m-1DRBVD {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 250px;
}

.servicepluginliveviewfeature .flow_-front-door-1DRBVD {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicepluginliveviewfeature .flow_-home-screen-1DRBVD {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.servicepluginliveviewfeature .flow_-back-key-copy-1DRBVD {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.servicepluginliveviewfeature .feature_-basic_-layout-copy-1DRBVD {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 138px;
}

.servicepluginliveviewfeature .x3rd-depth-copy-vFIKdD {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginliveviewfeature .tab-Qij23p {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewfeature .feature_-status-BhBXtI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 95px;
}

.servicepluginliveviewfeature .feature_-button-BhBXtI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginliveviewfeature .feature_-dialog-BhBXtI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginliveviewfeature .feature_-main-entranc-BhBXtI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.servicepluginliveviewfeature .feature_-front-door-copy-BhBXtI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginliveviewfeature .feature_-call-end-copy-BhBXtI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewfeature .feature_-back-key-copy-BhBXtI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginliveviewfeature .feature_-exceptional-BhBXtI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 163px;
}

.servicepluginliveviewfeature .lnb-service-plug-in-gvUbJj {
  background-color: transparent;
  height: 1310px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeature .rectangle-xz39PX {
  background-color: var(--concrete);
  height: 1310px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeature .lnb-xz39PX {
  background-color: transparent;
  height: 1310px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeature .stacked-group-hWdmPM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-title-common-copy-3xwJB8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents1dpeth_close-3xwJB8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents1dpeth_close-LtPv0P {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents1dpeth_close-9ELPQW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents1dpeth_close-sO1yHe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents1dpeth_close-UHPOQO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .group-copy-3xwJB8 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .empty-copy-jbqKSv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeature .line-copy-2-jbqKSv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeature .empty-copy-2-jbqKSv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-title-common-3xwJB8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents1dpeth_close-zm0WIl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents1dpeth_open_selected-3xwJB8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents2dpeth-copy-2-3xwJB8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents2dpeth-3xwJB8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents2dpeth-LtPv0P {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents2dpeth-9ELPQW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents2dpeth-sO1yHe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents2dpeth-UHPOQO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents2dpeth-zm0WIl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents2dpeth-Zx6frf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents2dpeth-CNvocb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents2dpeth-d0fu88 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents2dpeth-copy-3xwJB8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents2dpeth-copy-3-3xwJB8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-contents2dpeth-9y4rRU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .group-3xwJB8 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .empty-5JIZDe {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeature .line-copy-5JIZDe {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeature .empty-8Oor31 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeature .web-index-title-common-LtPv0P {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeature .line-hWdmPM {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginliveviewfeature .home-net-gui-guidelin-hWdmPM {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginliveviewfeature .webgnb-gvUbJj {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeature .rectangle-WqJsmt {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeature .background-WqJsmt {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeature .index-WqJsmt {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 128px;
}

.servicepluginliveviewfeature .web-index-select-f0PIhH {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginliveviewfeature .web-index-unselect-f0PIhH {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginliveviewfeature .web-index-unelect_main-WqJsmt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginliveviewfeature .logo-s9CWAK {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
