/* screen - servicepluginliveviewfeaturefrontdoor */

.servicepluginliveviewfeaturefrontdoor {
  background-color: var(--white);
  height: 2428px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginliveviewfeaturefrontdoor .group-6-WgROZF {
  background-color: transparent;
  height: 745px;
  left: 380px;
  position: absolute;
  top: 1483px;
  width: 710px;
}

.servicepluginliveviewfeaturefrontdoor .group-5-WgROZF {
  background-color: transparent;
  height: 937px;
  left: 400px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.servicepluginliveviewfeaturefrontdoor .group-17-WgROZF {
  background-color: transparent;
  height: 496px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginliveviewfeaturefrontdoor .group-16-47kQ8j {
  background-color: transparent;
  height: 266px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewfeaturefrontdoor .group-13-ucix0G {
  background-color: transparent;
  height: 143px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.servicepluginliveviewfeaturefrontdoor .table-guide-text1line-copy-2-areW27 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturefrontdoor .table-guide-text2line_m-copy-7-areW27 {
  background-color: transparent;
  cursor: pointer;
  height: 143px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeaturefrontdoor .table-guide-text2line_m-copy-2-areW27 {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeaturefrontdoor .group-15-ucix0G {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewfeaturefrontdoor .table-guide-text2line_m-copy-Za6Tod {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeaturefrontdoor .table-guide-text1line-Za6Tod {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturefrontdoor .table-guide-text2line_m-Za6Tod {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeaturefrontdoor .descriptiontabletop-ucix0G {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewfeaturefrontdoor .group-14-47kQ8j {
  background-color: transparent;
  height: 152px;
  left: 40px;
  position: absolute;
  top: 344px;
  width: 221px;
}

.servicepluginliveviewfeaturefrontdoor .icabc-copy-3-7zJ7lb {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 20px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-74Aecc {
  background-color: #333333;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 20px;
}

.servicepluginliveviewfeaturefrontdoor .number-74Aecc {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-copy-7zJ7lb {
  background-color: transparent;
  height: 152px;
  left: 19px;
  position: absolute;
  top: -0px;
  width: 202px;
}

.servicepluginliveviewfeaturefrontdoor .illst-visitor-7zJ7lb {
  background-color: transparent;
  height: 150px;
  left: 20px;
  overflow: hidden;
  position: absolute;
  top: 1px;
  width: 200px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-OIz3dF {
  background-color: #eff5fd;
  height: 150px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 200px;
}

.servicepluginliveviewfeaturefrontdoor .clipped-OIz3dF {
  background-color: transparent;
  height: 73px;
  left: 139px;
  opacity: 0.35;
  position: absolute;
  top: 71px;
  width: 108px;
}

.servicepluginliveviewfeaturefrontdoor .group-6GHzxE {
  background-color: transparent;
  height: 73px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 108px;
}

.servicepluginliveviewfeaturefrontdoor .group-NnIowe {
  background-color: transparent;
  height: 73px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 108px;
}

.servicepluginliveviewfeaturefrontdoor .group-nARkyI {
  background-color: transparent;
  height: 55px;
  left: 5px;
  opacity: 0.5;
  position: absolute;
  top: 11px;
  width: 103px;
}

.servicepluginliveviewfeaturefrontdoor .combined-shape-nNWN7L {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 103px;
}

.servicepluginliveviewfeaturefrontdoor .group-nNWN7L {
  background-color: transparent;
  height: 34px;
  left: 56px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-iG4Iqb {
  background-color: #a2653e;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 7px;
  transform: rotate(180deg);
  width: 1px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-oTjro8 {
  background-color: #a2653e;
  height: 26px;
  left: 18px;
  position: absolute;
  top: 0px;
  transform: rotate(180deg);
  width: 1px;
}

.servicepluginliveviewfeaturefrontdoor .combined-shape-nARkyI {
  background-color: transparent;
  height: 73px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 103px;
}

.servicepluginliveviewfeaturefrontdoor .combined-shape-OIz3dF {
  background-color: transparent;
  height: 40px;
  left: 139px;
  position: absolute;
  top: 35px;
  width: 72px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-zR3bJo {
  background-color: #9fb1cc;
  height: 144px;
  left: 0px;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 130px;
}

.servicepluginliveviewfeaturefrontdoor .b-OIz3dF {
  background-color: transparent;
  height: 95px;
  left: 85px;
  position: absolute;
  top: 49px;
  width: 29px;
}

.servicepluginliveviewfeaturefrontdoor .view-76O9yU {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 17px;
  width: 15px;
}

.servicepluginliveviewfeaturefrontdoor .path-dUYjHZ {
  background-color: transparent;
  height: 4px;
  left: 3px;
  position: absolute;
  top: 32px;
  width: 5px;
}

.servicepluginliveviewfeaturefrontdoor .path-NGP1Mk {
  background-color: transparent;
  height: 33px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 11px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-dUYjHZ {
  background-color: #030f1a;
  border-radius: 0.2px;
  height: 4px;
  left: 1px;
  position: absolute;
  top: 33px;
  transform: rotate(-9.22deg);
  width: 8px;
}

.servicepluginliveviewfeaturefrontdoor .path-1VSi5J {
  background-color: transparent;
  height: 3px;
  left: 3px;
  position: absolute;
  top: 32px;
  width: 3px;
}

.servicepluginliveviewfeaturefrontdoor .path-rE5oEA {
  background-color: transparent;
  height: 2px;
  left: 4px;
  position: absolute;
  top: 32px;
  width: 3px;
}

.servicepluginliveviewfeaturefrontdoor .path-e2YOjO {
  background-color: transparent;
  height: 2px;
  left: 3px;
  position: absolute;
  top: 36px;
  width: 4px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-76O9yU {
  background-color: transparent;
  height: 29px;
  left: 24px;
  position: absolute;
  top: 19px;
  transform: rotate(180deg);
  width: 3px;
}

.servicepluginliveviewfeaturefrontdoor .view-QoNLpA {
  background-color: transparent;
  height: 53px;
  left: 4px;
  position: absolute;
  top: 42px;
  width: 15px;
}

.servicepluginliveviewfeaturefrontdoor .path-6aaYxx {
  background-color: transparent;
  height: 6px;
  left: 5px;
  position: absolute;
  top: 43px;
  width: 5px;
}

.servicepluginliveviewfeaturefrontdoor .path-O1L5Ar {
  background-color: transparent;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 49px;
  width: 11px;
}

.servicepluginliveviewfeaturefrontdoor .path-bKgvhr {
  background-color: transparent;
  height: 44px;
  left: 5px;
  position: absolute;
  top: 0px;
  width: 10px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-6aaYxx {
  background-color: #9bc9dd;
  height: 2px;
  left: 5px;
  position: absolute;
  top: 42px;
  transform: rotate(180deg);
  width: 8px;
}

.servicepluginliveviewfeaturefrontdoor .view-OV6TGT {
  background-color: transparent;
  height: 53px;
  left: 9px;
  position: absolute;
  top: 42px;
  width: 17px;
}

.servicepluginliveviewfeaturefrontdoor .path-x5l9yf {
  background-color: transparent;
  height: 11px;
  left: 6px;
  position: absolute;
  top: 42px;
  width: 11px;
}

.servicepluginliveviewfeaturefrontdoor .path-wIMAWI {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.servicepluginliveviewfeaturefrontdoor .path-zhTgIu {
  background-color: transparent;
  height: 2px;
  left: 10px;
  position: absolute;
  top: 42px;
  width: 8px;
}

.servicepluginliveviewfeaturefrontdoor .group-2-76O9yU {
  background-color: transparent;
  height: 16px;
  left: 11px;
  position: absolute;
  top: 1px;
  transform: rotate(-7deg);
  width: 10px;
}

.servicepluginliveviewfeaturefrontdoor .view-Q6xg7h {
  background-color: transparent;
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 10px;
}

.servicepluginliveviewfeaturefrontdoor .path-zs5uvD {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 3px;
  transform: rotate(12.02deg);
  width: 7px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-zs5uvD {
  background-color: #49291f;
  border-radius: 0.5px;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 1px;
  transform: rotate(12.02deg);
  width: 7px;
}

.servicepluginliveviewfeaturefrontdoor .path-6dsD15 {
  background-color: transparent;
  height: 6px;
  left: 3px;
  position: absolute;
  top: -2px;
  transform: rotate(-77.98deg);
  width: 1px;
}

.servicepluginliveviewfeaturefrontdoor .path-IBXXnQ {
  background-color: transparent;
  height: 13px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.servicepluginliveviewfeaturefrontdoor .path-jBiR4l {
  background-color: transparent;
  height: 9px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 9px;
}

.servicepluginliveviewfeaturefrontdoor .path-Q6xg7h {
  background-color: transparent;
  height: 2px;
  left: 2px;
  position: absolute;
  top: 12px;
  width: 2px;
}

.servicepluginliveviewfeaturefrontdoor .path-WdUcoR {
  background-color: transparent;
  height: 2px;
  left: 4px;
  position: absolute;
  top: 12px;
  width: 5px;
}

.servicepluginliveviewfeaturefrontdoor .path-76O9yU {
  background-color: transparent;
  height: 29px;
  left: 8px;
  position: absolute;
  top: 14px;
  width: 18px;
}

.servicepluginliveviewfeaturefrontdoor .path-QoNLpA {
  background-color: transparent;
  height: 30px;
  left: 16px;
  position: absolute;
  top: 14px;
  width: 4px;
}

.servicepluginliveviewfeaturefrontdoor .x02-76O9yU {
  background-color: transparent;
  height: 10px;
  left: 9px;
  position: absolute;
  top: 16px;
  width: 6px;
}

.servicepluginliveviewfeaturefrontdoor .group-4-tnVBDg {
  background-color: transparent;
  height: 10px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 6px;
}

.servicepluginliveviewfeaturefrontdoor .group-aMNrsE {
  background-color: transparent;
  height: 10px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 6px;
}

.servicepluginliveviewfeaturefrontdoor .path-htkp0q {
  background-color: transparent;
  height: 9px;
  left: 1px;
  position: absolute;
  top: 1px;
  transform: rotate(-11deg);
  width: 4px;
}

.servicepluginliveviewfeaturefrontdoor .view-7umBMo {
  background-color: transparent;
  height: 14px;
  left: 13px;
  position: absolute;
  top: 43px;
  width: 16px;
}

.servicepluginliveviewfeaturefrontdoor .path-WZxFV7 {
  background-color: transparent;
  height: 11px;
  left: 0px;
  position: absolute;
  top: 0px;
  transform: rotate(180deg);
  width: 16px;
}

.servicepluginliveviewfeaturefrontdoor .path-BJcw8U {
  background-color: transparent;
  height: 7px;
  left: 0px;
  position: absolute;
  top: 0px;
  transform: rotate(180deg);
  width: 16px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-WZxFV7 {
  background-color: #a1abb2;
  height: 9px;
  left: 13px;
  position: absolute;
  top: 5px;
  transform: rotate(180deg);
  width: 1px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-BJcw8U {
  background-color: #a1abb2;
  height: 9px;
  left: 3px;
  position: absolute;
  top: 5px;
  transform: rotate(180deg);
  width: 1px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-QoNLpA {
  background-color: transparent;
  height: 15px;
  left: 19px;
  position: absolute;
  top: 18px;
  transform: rotate(-15deg);
  width: 8px;
}

.servicepluginliveviewfeaturefrontdoor .oval-76O9yU {
  background-color: transparent;
  height: 9px;
  left: 19px;
  position: absolute;
  top: 27px;
  transform: rotate(-16deg);
  width: 9px;
}

.servicepluginliveviewfeaturefrontdoor .path-OV6TGT {
  background-color: transparent;
  height: 14px;
  left: 18px;
  position: absolute;
  top: 14px;
  transform: rotate(-15deg);
  width: 8px;
}

.servicepluginliveviewfeaturefrontdoor .group-5-76O9yU {
  background-color: transparent;
  height: 15px;
  left: 13px;
  position: absolute;
  top: 22px;
  transform: rotate(115deg);
  width: 9px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-ytdR2J {
  background-color: transparent;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}

.servicepluginliveviewfeaturefrontdoor .oval-QoNLpA {
  background-color: transparent;
  height: 6px;
  left: 20px;
  position: absolute;
  top: 30px;
  transform: rotate(-30deg);
  width: 6px;
}

.servicepluginliveviewfeaturefrontdoor .view-OIz3dF {
  background-color: transparent;
  height: 120px;
  left: 11px;
  position: absolute;
  top: 24px;
  width: 72px;
}

.servicepluginliveviewfeaturefrontdoor .group-lE5lfz {
  background-color: transparent;
  height: 120px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 57px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-dQyYXR {
  background-color: #adbfd9;
  border-radius: 0.55px;
  height: 120px;
  left: 0px;
  opacity: 0.57;
  position: absolute;
  top: 0px;
  width: 57px;
}

.servicepluginliveviewfeaturefrontdoor .group-dQyYXR {
  background-color: transparent;
  height: 77px;
  left: 0px;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  width: 57px;
}

.servicepluginliveviewfeaturefrontdoor .path-fXpmTW {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 57px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-xo1RgS {
  background-color: #2e3452;
  border-radius: 0.88px;
  height: 20px;
  left: 46px;
  position: absolute;
  top: 45px;
  width: 7px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-azpCOg {
  background-color: #626578;
  border-radius: 0.88px;
  height: 20px;
  left: 46px;
  position: absolute;
  top: 41px;
  width: 7px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-kzC0Vx {
  background-color: var(--black);
  height: 14px;
  left: 47px;
  position: absolute;
  top: 42px;
  width: 5px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-Qsornj {
  background-color: var(--black);
  border-radius: 0.88px;
  height: 7px;
  left: 46px;
  position: absolute;
  top: 58px;
  width: 7px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-8giW4h {
  background-color: #5177c4;
  border-radius: 1.12px;
  height: 4px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 9px;
}

.servicepluginliveviewfeaturefrontdoor .group-wruKP1 {
  background-color: transparent;
  height: 16px;
  left: 62px;
  position: absolute;
  top: 32px;
  width: 9px;
}

.servicepluginliveviewfeaturefrontdoor .group-mzW75g {
  background-color: transparent;
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-Ni5khD {
  background-color: #5177c4;
  border-radius: 0.54px;
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}

.servicepluginliveviewfeaturefrontdoor .group-Ni5khD {
  background-color: transparent;
  height: 4px;
  left: 3px;
  position: absolute;
  top: 1px;
  width: 3px;
}

.servicepluginliveviewfeaturefrontdoor .oval-hzsdXW {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 3px;
}

.servicepluginliveviewfeaturefrontdoor .oval-JkaaYI {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 1px;
  transform: rotate(-45deg);
  width: 2px;
}

.servicepluginliveviewfeaturefrontdoor .path-hzsdXW {
  background-color: transparent;
  height: 1px;
  left: 2px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.servicepluginliveviewfeaturefrontdoor .path-JkaaYI {
  background-color: transparent;
  height: 1px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 1px;
}

.servicepluginliveviewfeaturefrontdoor .group-lvKhAC {
  background-color: transparent;
  height: 5px;
  left: 1px;
  position: absolute;
  top: 6px;
  width: 7px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-qbSQEk {
  background-color: var(--black);
  border-radius: 0.08px;
  height: 5px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 7px;
}

.servicepluginliveviewfeaturefrontdoor .path-qbSQEk {
  background-color: transparent;
  height: 5px;
  left: 0px;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  width: 7px;
}

.servicepluginliveviewfeaturefrontdoor .group-99FkGq {
  background-color: transparent;
  height: 2px;
  left: 2px;
  position: absolute;
  top: 12px;
  width: 5px;
}

.servicepluginliveviewfeaturefrontdoor .combined-shape-0e1P8U {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 5px;
}

.servicepluginliveviewfeaturefrontdoor .group-12-WgROZF {
  background-color: transparent;
  height: 563px;
  left: 1140px;
  position: absolute;
  top: 1483px;
  width: 680px;
}

.servicepluginliveviewfeaturefrontdoor .group-11-NfZjHQ {
  background-color: transparent;
  height: 152px;
  left: 40px;
  position: absolute;
  top: 411px;
  width: 221px;
}

.servicepluginliveviewfeaturefrontdoor .group-7-NfZjHQ {
  background-color: transparent;
  height: 172px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.servicepluginliveviewfeaturefrontdoor .group-10-NfZjHQ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 305px;
  width: 680px;
}

.servicepluginliveviewfeaturefrontdoor .table-guide-text1line-copy-3-fi70bk {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturefrontdoor .table-guide-text2line_m-copy-9-fi70bk {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeaturefrontdoor .table-guide-text2line_m-copy-4-fi70bk {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeaturefrontdoor .group-9-NfZjHQ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewfeaturefrontdoor .table-guide-text2line_m-copy-6lhFar {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeaturefrontdoor .table-guide-text1line-6lhFar {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturefrontdoor .table-guide-text2line_m-6lhFar {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeaturefrontdoor .descriptiontabletop-NfZjHQ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewfeaturefrontdoor .web-sub_-title-WgROZF {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginliveviewfeaturefrontdoor .web-title-area-WgROZF {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginliveviewfeaturefrontdoor .web-tab-service-plug-in_cctv-WgROZF {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 194px;
  width: 1600px;
}

.servicepluginliveviewfeaturefrontdoor .x3rd-depth-1g8v5K {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewfeaturefrontdoor .tab-rcOEtG {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewfeaturefrontdoor .card-copy-tg2nFU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginliveviewfeaturefrontdoor .feature-copy-tg2nFU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginliveviewfeaturefrontdoor .incoming-call_-push-n-copy-tg2nFU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 199px;
}

.servicepluginliveviewfeaturefrontdoor .incoming-call_-flow_m-tg2nFU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 250px;
}

.servicepluginliveviewfeaturefrontdoor .flow_-front-door-tg2nFU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicepluginliveviewfeaturefrontdoor .flow_-home-screen-tg2nFU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.servicepluginliveviewfeaturefrontdoor .flow_-back-key-copy-tg2nFU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.servicepluginliveviewfeaturefrontdoor .feature_-basic_-layout-copy-tg2nFU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 138px;
}

.servicepluginliveviewfeaturefrontdoor .x3rd-depth-copy-1g8v5K {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginliveviewfeaturefrontdoor .tab-DPfxrn {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewfeaturefrontdoor .feature_-status-qxWm6f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 95px;
}

.servicepluginliveviewfeaturefrontdoor .feature_-button-qxWm6f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginliveviewfeaturefrontdoor .feature_-dialog-qxWm6f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginliveviewfeaturefrontdoor .feature_-main-entranc-qxWm6f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.servicepluginliveviewfeaturefrontdoor .feature_-front-door-copy-qxWm6f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 123px;
}

.servicepluginliveviewfeaturefrontdoor .feature_-call-end-copy-qxWm6f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewfeaturefrontdoor .feature_-back-key-copy-qxWm6f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginliveviewfeaturefrontdoor .feature_-exceptional-qxWm6f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 163px;
}

.servicepluginliveviewfeaturefrontdoor .lnb-service-plug-in-WgROZF {
  background-color: transparent;
  height: 1310px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-Mx1UNO {
  background-color: var(--concrete);
  height: 1310px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .lnb-Mx1UNO {
  background-color: transparent;
  height: 1310px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .stacked-group-S83SVl {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-title-common-copy-B1HfHZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents1dpeth_close-B1HfHZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents1dpeth_close-90f5eA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents1dpeth_close-LvaS0q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents1dpeth_close-i2PIwx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents1dpeth_close-TEQxh2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .group-copy-B1HfHZ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .empty-copy-CyN141 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .line-copy-2-CyN141 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeaturefrontdoor .empty-copy-2-CyN141 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-title-common-B1HfHZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents1dpeth_close-n9hLSj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents1dpeth_open_selected-B1HfHZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents2dpeth-copy-2-B1HfHZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents2dpeth-B1HfHZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents2dpeth-90f5eA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents2dpeth-LvaS0q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents2dpeth-i2PIwx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents2dpeth-TEQxh2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents2dpeth-n9hLSj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents2dpeth-AQQB2n {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents2dpeth-n9jqc7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents2dpeth-x1RQMZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents2dpeth-copy-B1HfHZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents2dpeth-copy-3-B1HfHZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-contents2dpeth-0A2lUM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .group-B1HfHZ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .empty-wq6aTV {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .line-copy-wq6aTV {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeaturefrontdoor .empty-2RZJAK {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-title-common-90f5eA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturefrontdoor .line-S83SVl {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginliveviewfeaturefrontdoor .home-net-gui-guidelin-S83SVl {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginliveviewfeaturefrontdoor .webgnb-WgROZF {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeaturefrontdoor .rectangle-ApzZxU {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeaturefrontdoor .background-ApzZxU {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeaturefrontdoor .index-ApzZxU {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 128px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-select-LMyxyP {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-unselect-LMyxyP {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginliveviewfeaturefrontdoor .web-index-unelect_main-ApzZxU {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginliveviewfeaturefrontdoor .logo-26YGzQ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
